.add-wrap{
    width: 100vw;
    height:  calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-screen{
    background-color: #ffffff;
    border-radius: 15px;
    padding: 2rem;
    width: 30rem;
}

.add-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.add-choice-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-question{
    width: 100%;
    border-radius: 10px;
    margin: 1rem;
    border: 2px solid gray;
}

.add-question,
.add-choice-input{
    padding: .5rem 1rem;
}

.add-choice-input{  
    border-width: 2px 0 2px 2px;
    border-style: solid;
    border-color: gray;
    width: 100%;
    margin: 1rem 0 1rem 0;
    border-radius: 10px 0 0 10px;
}

.add-choice-button{
    min-width: 7rem;
    margin: 0;
    border: 2px solid gray;
    border-radius: 0 10px 10px 0;
    padding: .5rem 1rem;
}

.add-choice-button:hover{
    background-color: var(--gray-color-lighter);
}

.add-choice-button:focus{
    background-color: var(--primary-color);
    color: white;
    outline: none;
    border-color: blue;
}

.add-question:focus,
.add-choice-input:focus{
    border: 2px solid blue;
	transform: scale(1.02);
    outline: none;
}

.add-choice-list{
    padding: .5rem;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.add-choice-list-item{
    margin-right: .5rem;
    padding: .3rem .6rem;
    background-color: var(--success-color);
    color: white;
    border-radius: 15px;
}

.add-post{
    padding: .5rem 2rem;
    margin-top: 1.5rem;
    width: 100%;
    border: 2px solid gray;
}

.add-post:hover{
    background-color: var(--gray-color-lighter);
}

.add-post:focus{
    background-color: var(--primary-color);
    color: white;
    border-color: blue;
}

.add-label{
    font-size: 1.5rem;
    width: 100%;
    text-align: left;
    margin-top: 1rem;
}