@import 'nav.css';
@import 'utils.css';
@import 'post.css';
@import 'add.css';
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

:root {
  --gray-color: #E7EFF6;
  --gray-color-lighter: #f2f5f7;
  --gray-color-even-lighter: #fcfcfc;
  --inside-gray: #F6FAFD;
  --primary-color: #007bff;
  --primary-color-darker: #0053ac;
  --lime-color: #84fd84;
  --success-color: #28a745;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 500;
  background-color: var(--gray-color);
}

a {
  text-decoration: none;
}

ul{
  list-style: none;
}